h1, h2,h3{
  font-family:Georgia;
}

p{
  font-family: 'Times New Roman';
}

body{
    margin: 0;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
  }

  .container{
    max-width: 900px;
    margin: 0 auto;
	  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
  }

  .bodypage{
    max-width: 900px;
    margin: 0 auto;
	  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  .containerrow{
    display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }

  .rowFill{
      flex-grow: 1;
  }

  .navrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
  }

  .navlink{
    width: auto; 
    height: auto;
    position: relative; 
    color: #29140f;
    font-size: 3.3rem; 
    font-family: Georgia;
    font-weight: 400; 
    word-wrap: break-word;
    text-decoration: none;
  }

  .navlink:hover{
    color: #f5ae50;
    -webkit-text-stroke: 2px #6F390F;
    transform: scale(1.1);
    /* background-color: var(--accent-color); */
  }

  .sidebar{
    position: fixed;
    height: 30vh;
    width: 250px;
    z-index: 999;
    border: 7px solid #734932;
    border-style: ridge;
    border-radius: 5px;
    background-color: #E2BD9C;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-image: url("Images/links.png"); */
  }

  #sidebar-active{
    display: none;
  }

  .open-sidebar, .close-sidebar{
    display: none;
  }

  .sidebar li{
    width: 100%;
  }

  .sidebar a{
    width: 100%;
    font-size: 3rem;
  }

.witchbackground {
  background-image: url("Images/JournalBG.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.updateblock {
    height: auto;
    width: 830px;
    border: 7px solid #734932;
    border-style: ridge;
    border-radius: 5px;
    background-color: #E2BD9C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
  }
  
  .entrybox {
    text-align: left; 
    padding-left: 20;
  }
  
  .entrybox  p {
    padding: auto;
    font-size: 1.2rem;
  }

  .entrybox  h3{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 2rem;
  }

  .entrybox img{
    object-fit: cover; 
    width: 800; 
    height: 600; 
    margin: 0;
    margin-bottom: 0.2rem;
  }

  .menubutton{
    display: none;
  }

  #socialgif{
    width: 400px;
    height: 400px;
  }

  @media screen and (max-width: 480px){
    .navrow{
      display: none;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      top: 0;
      right: 0;
      z-index: 10;
      width: 100%;
      height: auto;
      border: 7px solid #734932;
      border-style: groove;
      border-radius: 5px;
      background-color: #E2BD9C;
    }

    .bodypage{
      max-width: fit-content;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 1em;
    }

    .containerrow{
      max-width: fit-content;
      display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
      }

    .navlink{
      box-sizing: border-box;
      height: auto;
      width: 100%;
      position: relative;
      font-size: 4rem; 
      justify-content: flex-start;
    }

    .navlink:hover{
      color: #f5ae50;
      -webkit-text-stroke: 2px #6F390F;
      transform: scale(1.1);
      /* background-color: var(--accent-color); */
    }

    .open-sidebar, .close-sidebar{
      display: block;
    }
    
    #sidebar-active:checked ~ .navrow{
      display: flex;
    }

    .entrybox {
      text-align: left; 
      padding-left: 20;
    }

    .entrybox  p {
      padding: auto;
      font-size: 2rem;
    }
  
    .entrybox  h3{
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      font-size: 5rem;
    }

    #socialgif{
      width: 300px;
      height: 300px;
    }
  }